.banner{
    height: 293px;
}
.container{
    height: 100%;
    width: 100%;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    font-size: 30px;
    font-weight: 700;
}
.subtitle{
    font-size: 16px;
    font-weight: 400;
}